.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border:  2px solid black;
}
.nav-items > ul {
    display: flex;
    list-style: none;

}
.nav-items > ul > li {
    padding: 10px;
}

.card {
    width:  300px;
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
}

.card > img {
    width: 100%;
}
.restaurant-list {
    display: flex;
    flex-wrap: wrap
    ;
}